[Unit]
Description=Secure Shout Host Oriented Unified Talk server
Documentation=https://sourceforge.net/projects/sshout/

[Service]
Type=simple
User=sshout
ExecStart=/usr/lib/sshout/sshoutd
ExecStopPost=/bin/rm -f /var/lib/sshout/socket
Restart=on-failure

[Install]
WantedBy=multi-user.target
